.bouton1 {
    float: left;
}
.bouton2 {
    float: left;
    height: 50px;
}
#haut {
    margin-left: 60%;
}
.bottom {
    text-align: center;
}
#header1 {
    height: 280px;
    background-position: center;
}
#header2 {
    height: 50px;
    background: darkgray;
}
#header2-1 {
    margin-left: 40%;
}
#content1 {
    text-align: center;
}
.grand {
    font-size: xx-large;
}
#profil {
    height: 100px;
}
.corps {
    margin-left: 10%;
    margin-right: 10%;
    border: outset;
    background: whitesmoke;
}
.corps1 {
    margin-left: 10%;
    margin-right: 10%;
}
.gris {
    background: darkgray;
}
#tableau {
    border-collapse: collapse;
}
#colonne {
    background: lavender;
}
#footercontent {
    border: outset;
    border-color: orange;
    margin-left: 30%;
    margin-right: 40%;
}
.rouge {
    float: left;
    border: outset;
    border-color: orange;
}
#footer2 {
    background-color: gainsboro;
    height: 140px;
}
#footer {
    text-align: center;
}
#end {
    background-color: black;
    color: white;
}
.apivony {
    text-align: center;
}
.partie2 {
    font-size: larger;
}
#police {
    font-size: x-large;
}
#tableau {
    width: 100%;
}
.zero {
    margin: 0;
}
#partager {
    height: 50px;
    margin-top: 15px;
}
#police {
    margin-top: 15px;
}
#content2 {
    margin-bottom: 15px;
}
#moyen {
    font-size: x-large;
}
#misitaka {
    margin-top: 10px;
}
.farany {
    float: left;
    width: 50%;
}
#ici {
    margin-top: 0;
}
#decouvrir {
    margin-bottom: 0;
}
