#main {
    border: black solid 1px;
    height: 550px;
}

.Type {
    text-align: left;
}

#section1 {
    border: black solid 1px;
    height: 500px;
}

#Type {
    margin-left: 53%;
    width: 40%;
}

#footer {
    border: solid;
    color: transparent;
    text-align: right;
}

#Nom {
    margin-left: 64%;
}

#header {
    border: groove;
    padding: 10px;
}

#Infobulle {
    margin-left: 60%
}

#section2 {
    border: groove;
    height: 100px;
    padding-top: 2%;
    padding-left: 1%;
}

#liste {
    margin-left: 18%;
    width: 40%;
}

#section3 {
    border: groove;
    width: 25%;
    float: left;
    height: 20%;
}

#section4 {
    border: groove;
    width: 73%;
    float: left;
    height: 20%;
}

.section-3-select {
    margin-left: 20%
}


