body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#main {
    border: black solid 1px;
}

#header {
    border: black solid 1px;
}

#section {
    border: black solid 1px;
    height: 500px;
}

#footer {
    border: black solid 1px;
    text-align: center;
}

#menu {
    border: black solid 1px;
    width: 20%;
    height: 500px;
    float: left;
    text-align: center;
    font-size: x-large;
    padding-top: 5%;
}

#titre {
    text-align: center;
}

#image {
    background-position: center;
    width: 80%;
    height: 500px;
    float: left;


}