<div>

  header
</div>

<div>
  <h1>menu</h1>
  <ul>
    <li><a href="lancerBanque">Application bancaire</a></li>
    <li><a href="array-skills">Trainee array</a></li>
    <li><a href="multiplication">Faire de la multiplication</a></li>
    <li><a href="division">Faire de la divison</a></li>
    <li><a href="moyenne">Calculer la moyenne</a></li>
    <li><a href="pair-impair">Vérifier un nombre</a></li>
    <li><a href="plusDeux">Ajouter 2 à un nombre</a></li>
    <li><a href="geometrie">Calcul d'un périmètre et d'un surface</a></li>
    <li><a href="fiche-produit">Fiche des produits</a></li>
    <li><a href="devise">Les pays et leurs devises</a></li>
  </ul>
</div>


<router-outlet></router-outlet>


<div>

  footer
</div>
