.centre {
  text-align: center;
}
.border {
  border-radius: 5px;
  margin-left: 5%;
}
.corps {
  border: black solid;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 2%;
  background-color: black;
  color: white;
}
#bouton1 {
  width: 25%;
}
#bouton2 {
  width: 25%;
}
#bouton3 {
  width: 25%;
}

